// Typography

$font-size: 1rem;
$font-style: normal;
$font-weight: normal;
$font-family: Raleway, Helvetica Neue, Arial, sans-serif;
$header-font: Playfair Display, Times New Roman, Times, serif;

// Others

$img_opacity: 0.25;

// Colours

$bg: #292927;
$header: #8100df;
$h1col: #fffff0;
$subheading: #cafa13;
$navbg: #fffff0;
$text-col: #fffff0;
$imgtopcol: rgba(31,7,33, $img_opacity);


